<h1>Edit Song Form</h1>

<h3><%= form_for @song do |f| %></h3>

    <h3>Song Name: <%= f.text_field :name %></h3>
    <h3>Genre ID: <%= f.text_field :genre_id %></h3>
    <h3>Artist ID: <%= f.text_field :artist_id %></h3>
    <%= f.submit "Update Song" %>


<% end %>