<h1> New Song Form </h1>
<%= form_for @song do |s| %>
    <%= s.label :name %>
    <%= s.text_field :name %>
       
    <%= s.label :Genre %>
    <%= s.collection_select(:genre_id, Genre.all, :id, :name) %>

    <%= s.label :Artist %>
    <%= s.collection_select(:artist_id, Artist.all, :id, :name) %>

    <%= s.submit %>
    <% end %>
